<!-- <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/Rise-Vision/hubspot-standard-website/9ebf462e8197bcc2735fa938102f961ad69653a2/custom/system/css/bootstrap.css?token=ALR1s66VAyo3jNWeNQMtjLzotLK3Ih4Lks5aMzNbwA%3D%3D" />
 -->
<style>

h2 {
    margin: 0 !important;
}

h3 {
  margin: 0;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
} 
/* Colors */
.bg-primary {
  background-color: #4ab667 !important;
}
.bg-primary-light {
  background-color: #f2fcf4;
}
.text-primary {
  color: #4ab667 !important;
}



.btn-outline {
    color: #4ab667;
    background: 0;
    border-color: #4ab667;
  }

/*.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
  }*/

/* ==========================================================================
   2.Hero section
   ========================================================================== */ 
   
.hero-section {
  background-size: cover;
  padding: 0 0 4.5em;
  position: relative;
}

.hero-section.cover {
  background-color: #333;
  background-position: center;
}

.hero-section.cover.cover-top {
  background-position: 0 -100px;
}

.hero-section.cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section.cover::before {
  background: rgba(50, 50, 50, 0.8); 
}

.hero-section .btn-lg {
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
  border-radius: .25rem;
  display: block;
}

.welcome-message { 
  padding-top: 2.5em; 
}

.welcome-message h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

.welcome-message h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

.home-hero .welcome-message h1 {
  font-weight: 800;
}

.home-hero .welcome-message h2 {
  font-weight: 400;
}

.welcome-message-carousel .carousel-inner {
  border: 5px solid #000;
  background-color: #444;
}

.welcome-message-carousel::after {
  display: block;
  content: '';
  background-image: url('https://cdn2.hubspot.net/hubfs/2700250/Risevision%20March2017%20Theme/Images/people-1.png');
  width: 100%;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -2em;
  position: relative;
}

.welcome-message-carousel img {
  max-height: 240px;
  width: 100%;
}

.section-spacing { padding: 4.5em 0; }


/* Pricing*/

.pricing-plans-section {
}

.pricing-plans-section h2 {
  margin-top: .8em;
}

.pricing-plan-column-top {
  padding: 1em;
}

.pricing-plan-column-top.sticky {
  background-color: red;
}

.pricing-plans-section h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: .4em;
}

.pricing-plans-section h3 span {
  font-size: 14px;
  color: #555;
}

.pricing-plan-column {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin: .5em;
  position: relative;
}

.pricing-plan-column-description {
  padding: 0 .8em .8em .8em;
}

.pricing-plan-column-item {
  padding: 0.8em;
  border-bottom: 1px solid #d4d4d4;
  font-size: 14px;
}

.pricing-plan-column-item:last-child {
  border-bottom: none;
}

.pricing-plan-column-item-header h4 {
  display: inline-block;
}

.btn-tip {
  display: inline-block;
  vertical-align: baseline;
  border-radius: 50%;
  padding: 0px 5px;
  color: #4ab667;
}

.pricing-plan-column-item.included {
  background-color: #e5ffeb;
}

.pricing-plan-column-item h4 {
  font-size: 18px;
  margin: 0;
}

.pricing-plan-column-item p {
  margin-bottom: 0;
  color: #555;
}

.pricing-plan-column-top-incentive {
  margin-top: .5em;
}

.pricing-plan-column.advanced {
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 0px 4px #4ab667;
  -moz-box-shadow:  0px 0px 0px 4px #4ab667;
  box-shadow:  0px 0px 0px 4px #4ab667;
  border-radius: 4px;
}

.pricing-plan-column.advanced::before {
  content: 'Recommended';
  background: #4ab667;
  color: #FFF;
  display: block;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 0px 1px #4ab667;
  -moz-box-shadow:  0px 0px 0px 1px #4ab667;
  box-shadow:  0px 0px 0px 1px #4ab667;
}

.pricing-period .active span::before {
  content: '✓';
  margin-right: 5px;
}

.pricing-plan-column-item-header-link {
  font-size: 15px;
}


/* ==========================================================================
   19.Small devices (tablets, 768px and up)
   ========================================================================== */
   
@media (min-width: 768px) {
  .hero-section {
    padding: 0 0 7.5em;
  }

  .welcome-message h1 {
    font-size: 40px;
  }

  .welcome-message h2 {
    font-size: 24px;
  }

  .welcome-message-carousel::after {
    height: 100px;
  }
  .welcome-message-carousel img {
    max-height: 240px;
  }
  .pricing-plans-section {
  }
  .section-spacing { padding: 4.5em 0; }

}

/* ==========================================================================
   20.Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

  .hero-section {
    padding: 3em 0 6em;
  }

  .welcome-message h1 { font-size: 52px; }

  .welcome-message h2 { font-size: 24px; }

  .welcome-message-carousel::after {
    height: 150px;
  }
  .welcome-message-carousel img {
    max-height: 300px;
  }
  .pricing-plans-section {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
  }
  .pricing-plan-column-top {
    padding: 1em;
        padding-top: 22px;
  }
  .pricing-plan-column {
    border: none;
    border-left: 1px solid #d4d4d4;
    border-radius: 0;
    margin: 0;
  }
  .pricing-plan-column-wrapper:first-child .pricing-plan-column {
    border-left: none;
  }
  .pricing-plan-column-description {
  }
  .pricing-plan-column-item-header {
    position: relative;
  }
  .pricing-plan-column.basic .pricing-plan-column-item-header .btn-sm, .pricing-plan-column.advanced .pricing-plan-column-item-header .btn-sm, .pricing-plan-column.enterprise .pricing-plan-column-item-header .btn-sm {
    display: none;
  }
 
  .hero-section .btn-lg {
    display: inline-block;
  }
  .section-spacing { padding: 5em 0; }

}




</style>