


<div id="companyIcpModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="icpModalTitle" class="modal-title">Downgrade</h3>
  </div>
  <div class="modal-body u_padding-lg" style="padding-top: 0" stop-event="touchend">    
    
<div class="container-fluid"> 



</div> <!-- end container -->


  </div> <!-- //Modal Body -->

  <div class="modal-footer"> 
   
  </div>


</div>
