<!-- 


<div id="" style="display:none; position: fixed;
    top: 20px;
    left: 40%;
    border: 1px solid #636262;
    z-index: 999999979;
    border-radius: 4px;
    background-color: white;
    width: 500px;">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="icpModalTitle" class="modal-title">Downgrade</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">    
    
<div class="container-fluid"> 



</div>


  </div> 

  <div class="modal-footer"> 
   
  </div>


</div>
 -->