<div class="alert p-2 mb-0 bg-success text-right">
  <div class="u_margin-right">
    <span class="font-weight-bold">Advanced Plan</span> <span class="ml-2">Managed by <a href="#" aria-label="Go to Parent Company">Peel District School Board</a></span>
    <a href="#" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Change Plan</a>
  </div>
</div>

<!-- Common Header Plan Info -->

  <div id="free-plan-banner" class="alert alert-plan plan-active text-right" ng-show="isFree() || isCancelled()">
    <div class="u_margin-right">
      <strong>Get more out of Rise Vision!</strong>
      <a href="#" ng-click="showPlans()" class="u_margin-left">See Our Plans</a>
    </div>
  </div>

  <div class="alert alert-plan plan-active text-right" ng-show="isSubscribed()">
    <div class="u_margin-right">
      <strong>{{plan.name}} Plan</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Change Plan</a>
    </div>
  </div>

  <div id="trial-plan-banner" class="alert alert-plan plan-active text-right" ng-show="isOnTrial()">
    <div class="u_margin-right">
      <strong>You have {{plan.trialPeriod}} days left on your Rise Vision {{plan.name}} Plan trial!</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="isTrialExpired()">
    <div class="u_margin-right">
      <strong ng-show="!plan.playerProTotalLicenseCount">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Your Displays are no longer Licensed.</strong>
      <strong ng-show="plan.playerProTotalLicenseCount">Your Rise Vision {{plan.name}} Plan trial has expired! You are now on the Free Plan. Some of your Displays are no longer Licensed.</strong>
      <a href="#" ng-show="!isEnterpriseSubCompany()" ng-click="showPlans()" class="ml-3 btn btn-xs btn-primary">Subscribe Now</a>
    </div>
  </div>

  <div class="alert alert-plan plan-suspended text-center" ng-show="isSuspended()">
    <div class="u_margin-right">
      <strong>There was an issue processing your payment. Please update your billing information. Your Displays may be affected.</strong>
      <a href="{{storeAccountUrl}}" target="_blank" class="ml-3 btn btn-xs btn-primary">Update Billing</a>
    </div>
  </div>
