<div rv-spinner rv-spinner-key="plans-modal" rv-spinner-start-active="0">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="" class="modal-title">Choose Your Plan</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">
    <div id="" class="grid-list row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">Free </h4>
              <p class="product-description">{{descriptions.free}}</p>
              <div>
                  <h1>$0</h1>
                  &nbsp;per Company per Month
              </div>
              <a class="cta_button btn btn-default u_margin-lg" id="showDowngradeModal">Downgrade</a>
            </div>
          </div>
        </div>        
      </div><!-- end products plan -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class=" grid-list-text text-center">
              <h4 id="productName">Basic Plan</h4>
              <p class="product-description">{{descriptions.basic}}</p>
              <div>
                <h1>$19</h1>
                &nbsp;per Company per Month
              </div>
              <a target="_blank" class="cta_button btn btn-white u_margin-lg" title="">Current Plan</a>
            </div>
          </div>
        </div>        
      </div><!-- end products plan -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class=" grid-list-text text-center">
              <h4 id="productName">Advanced Plan</h4>
              <p class="product-description">{{descriptions.advanced}}</p>
              <div>
                <h1>$85</h1>
                &nbsp;per Company per Month
              </div>
              <a target="_blank" href="https://store.risevision.com/product/290/advanced-plan" class="cta_button btn btn-primary u_margin-lg" title="">Subscribe</a>
            </div>
          </div>
        </div>        
      </div><!-- end products plan -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class=" grid-list-text text-center">
              <h4 id="productName" >Enterprise Plan</h4>
              <p class="product-description">{{descriptions.enterprise}}</p>
              <div>
                <h1>$489</h1>
                &nbsp;per Company per Month
              </div>
              <a target="_blank" href="https://www.risevision.com/contact-us" class="cta_button btn btn-primary u_margin-lg" title="">Contact Us</a>
            </div>
          </div>
        </div>        
      </div><!-- end products plan -->
    </div> <!-- end Grid List -->

    <!-- PROTOTYPE MODAL - IGNORE INLINE CSS -->
    <div id="plansDowngradeModal" style="display:none;
        position: fixed;
        top: 80px;
        left: 28%;
        border: 1px solid #636262;
        z-index: 999999979;
        border-radius: 4px;
        background-color: white;
        width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" id="hideDowngradeModal" aria-hidden="true">
          <i class="fa fa-times"></i>
        </button>
        <h3 id="icpModalTitle" class="modal-title">Downgrade</h3>
      </div>
      <div class="modal-body u_padding-lg" stop-event="touchend">    
        <div class="container-fluid text-center u_padding-lg"> 
          Downgrading an account needs to be processed through our Support team.  Please reach out and we'll help!
          <br/>
          <a class="btn btn-primary btn-lg u_margin-lg-top" href="https://www.risevision.com/contact-us?contact_form=enterprise" target="_blank"> Contact Us </a>
        </div> <!-- end container -->
      </div> <!-- //Modal Body -->
      <div class="modal-footer"></div>
    </div>

    <div class="text-center u_margin-md-top">
      <a class="btn btn-white btn-lg get-started-guide" target="_blank" href="https://www.risevision.com/pricing">Learn More About Our Plan Pricing</a>
    </div>
  </div> <!-- //Modal Body -->

  <div class="modal-footer"></div>
</div>
