<div id="content-five" class="prototype-show" style="display: none; ">
  <div class="row">
    <div class="col-md-6 u_padding-md-vertical">
      <p class="lead">Company Account
        <!-- <button class="btn btn-xs">Edit</button> -->
      </p>
      <div class="text-block">
        <b>Acme Co Inc.</b>
        <br> Email: user@domain.com
        <br> Company ID: ce4684a1-e8b3-4e02-9798-c4517b43cf7a
      </div>

    </div>
    <div class="col-md-6 u_padding-md-vertical">
      <p class="lead">Payment Method
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <div class="text-block">
        <b>VISA</b>
        <br> 4242-0000-4242-0000
        <br> Exp: 07/18
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 u_padding-md-vertical">
      <p class="lead">Billing Address
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <div class="text-block">
        Gob Bluth<br> user@risevision.com
        <br> Rise Vision Inc.<br> 545 King Street West<br> Toronto, ON, M5V 1M1<br> Canada
      </div>
    </div>
    <div class="col-md-6 u_padding-md-vertical">
      <p class="lead">Shipping Address
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <div class="text-block">
        Rise Vision Inc.<br> 545 King Street West<br> Toronto, ON, M5V 1M1<br> Canada
      </div>
    </div>
  </div>
  <hr style="margin-top: 5px; margin-bottom:  5px;">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Subscription Details
        <button class="btn btn-link btn-xs">Edit</button>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-6 text-right text-block">
      <p>Basic Plan (Yearly)<br/> 2 Additional Displays<br/> GST
        <br/> PST
        <br/> Total Tax:</p>
      <span class="order-total">Order Total:</span>
      <!-- <span class="order-currency">Currency:</span> -->
    </div>
    <div class="col-sm-4 col-xs-6 text-right text-block">
      <p>$85<br/> $19
        <br/> $1.70
        <br/> $2.20
        <br/> $4.70
      </p>
      <span class="order-total">$122.34 <small class="u_margin-left">CAD</small></span>
      <!-- <span class="order-currency"></span> -->
    </div>
    <div class="col-sm-4 col-xs-12 text-right text-block">
      <button id="showTaxExempt" class="btn btn-link btn-xs">Submit Tax Exemption </button>
    </div>
  </div>

  <div class="row">
    <hr class="u_margin-sm-top">
  </div>

  <div class="col-xs-8 col-xs-offset-2">
      <button id="payButton" class="btn btn-primary btn-hg btn-block" >
        <span id="payLabel">Pay $122.34 Now </span>
        <i id="loadSpinner" class="fa fa-spinner fa-spin fa-fw fa-inverse u_padding-lg-horizontal" style="display:none" ></i>
      </button> <br/>
      <!-- <small><i class="fa fa-lock icon-left"></i>Secure Checkout from Chargebee and Stripe</small> -->
    </div>

 

</div>