<div id="content-success" class="prototype-show" style="display: none">
  <br/><br/>
  <h3 class="text-center u_margin-md-top">Payment Successful!</h3>
  <div class="text-center u_padding-md">
    <img src="https://s3.amazonaws.com/Rise-Images/Icons/online.svg" width="72px" alt="Payment Successful">
    <br/><br/>
    <p>Your payment to Rise Vision was successful. You can view details of this payment <a href="#">here</a>.</p>
    <br/>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button id="" class="btn btn-primary btn-lg"> Go To Dashboard </button>
    </div>
  </div>
</div>
