<div id="content-one" class="prototype-show prototype-show-ready">

  <h3>Enterprise Plan</h3>


  <div class="flex-horizontal">
    <!-- FLEXBOX THIS COMPONENT? -->
    <div>
      <div class="text-center u_padding-md">
        <p style="font-size: 62px;line-height: 1;">$7</p><span>per Display <br>per Month</span></div>
    </div>
    <div style="
    display: flex;
    height: 110px;
    justify-content: center;
"><b style="
    font-size: 33px;
    align-self: center;
">x</b></div>
    <div>
      <div class="text-center u_padding-md">
        <p style="font-size: 62px;line-height: 1;">70</p><span> Displays Included</span></div>
    </div>
    <!-- <div class="col-sm-4 hidden-xs text-center u_margin-md-top">
      <p>All Free & Paid
        <br/> Features Included </p>
      <a href="#">View Plan Details</a>
    </div> -->
  </div>

  <hr style="margin-bottom: 0">
  <style>
    .spinner {
      /* width: 100px; */
    }

    .spinner input {
      text-align: right;
    }

    .input-group-btn-vertical {
      position: relative;
      white-space: nowrap;
      width: 1%;
      vertical-align: middle;
      display: table-cell;
    }

    .input-group-btn-vertical>.btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-left: -1px;
      position: relative;
      border-radius: 0;
    }

    .input-group-btn-vertical>.btn:first-child {
      border-top-left-radius: 4px;
    }

    .input-group-btn-vertical>.btn:last-child {
      margin-top: -2px;
      border-bottom-left-radius: 4px;
    }

    .input-group-btn-vertical i {
      position: absolute;
      top: 0;
      left: 4px;
    }

    .radio label {
      padding: 5px 0 5px 30px;
    }

    .form-group {
      margin-bottom: 8px;
    }
  </style>


  <div class="text-center" style="height: 32px;">
    <b style="font-size: 33px;position: relative;top: -28px;background: #fcfcfc;border: 10px solid #fcfcfc;">+</b>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Need more Displays than <b>Enterprise Plan</b> offers?  Add more at only <b>$7 per Display</b>!
      <br/>
      <br/>
    </div>
    <div class="col-xs-12">

      <div class="input-group spinner" style="border-radius: 4px !important;">
        <div class="input-group-btn-vertical">
          <button class="btn btn-white" type="button"><i class="fa fa-caret-up"></i></button>
          <button class="btn btn-white" type="button"><i class="fa fa-caret-down"></i></button>
        </div>
        <input type="text" class="form-control" value="2" style="width: 50px; font-size: 18px; border-radius: 4px; text-align: center;">
        <span class="icon-right u_margin-md-top" style="vertical-align: -webkit-baseline-middle;">additional Display licenses added to your purchase.</span>
      </div>


    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    <div class="col-xs-12">

      <div class="text-right">
        <div class="label" style="
      color: #020622;
      ">
      <b class="pull-left">TOTAL</b> 
      <b class="pull-right">Pay yearly, get one month free!</b>
    </div>
      </div>
      <div class="panel payment-recurrence-selector" style="padding: 0;">
        <div class="radio" style="background: aliceblue">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> 
            $27 billed monthly
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 
            $267 billed yearly
          </label>
          <label style="border: 1px solid #1fbc52;
          padding: 0px 12px;
          float: right;
          color: #1fbc52;
          cursor: default;
          top: 4px;
          position: relative;
          right: 5px;">Save $54!
        </label>
        </div>
      </div>


    </div>
  </div>

  <hr>
  <div class="row">
  <div class="col-xs-12">
    <!-- <button id="" class="btn btn-default btn-lg pull-left"> Back </button> -->
    <button id="" class="btn btn-primary btn-lg pull-right"> Continue </button>
  </div>
</div>
</div>
