<div id="content-one" class="prototype-show prototype-show-ready">
  <h3>Enterprise Plan</h3>
  <div class="flex-pricing-summary">
    <div class="text-center u_padding-md">
      <p>$7</p><span>per Display <br>per Month</span></div>
    <div class="connector-column">
      <b>x</b>
    </div>
    <div class="text-center u_padding-md">
      <p>70</p><span> Displays Included</span></div>
  </div>
  <hr class="u_remove-margin">
  <div class="text-center flex-additive-rule">
    <b>+</b>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Need more Displays than <b>Enterprise Plan</b> offers? Add more at only <b>$7 per Display</b>!
      <br/>
      <br/>
    </div>
    <div class="col-xs-12">
      <div class="input-group spinner">
        <div class="input-group-btn-vertical">
          <button class="btn btn-white" type="button"><i class="fa fa-caret-up"></i></button>
          <button class="btn btn-white" type="button"><i class="fa fa-caret-down"></i></button>
        </div>
        <input type="text" class="form-control" value="2">
        <span class="icon-right u_margin-md-top u_align-middle">additional Display licenses added to your purchase.</span>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12 u_margin-sm-bottom">
      <b class="pull-left">TOTAL</b>
      <b class="pull-right">Pay yearly, get one month free!</b>
    </div>
    <div class="col-xs-12">
      <div class="panel payment-recurrence-selector">
        <div class="radio active">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> 
            $27 billed monthly
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 
            $267 billed yearly
          </label>
          <label class="highlight">Save $54!</label>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button id="" class="btn btn-primary btn-lg pull-right"> Continue </button>
    </div>
  </div>
</div>
