<div rv-spinner rv-spinner-key="plans-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">Choose Your Plan</h3>
  </div>
  <div id="plans-modal" class="modal-body u_padding-lg" stop-event="touchend">
    <div class="grid-list row">
       <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="u_cursor_disabled panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">Free</h4>
              <p class="product-description">Design, distribute and manage your digital signage for free. Unlimited Displays, Companies and Users.</p>
              <div>
                  <h1>$0</h1>
                  &nbsp;per Company per Month
              </div>
              <a id="current-plan"
                 target="_blank"
                 class="cta_button btn btn-white u_margin-lg">Current Plan</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="u_cursor_disabled panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">Basic</h4>
              <p class="product-description">Great for small organizations with a couple of displays that need time saving templates and media hosting. Includes 2 Player Professional licences.</p>
              <div>
                  <h1>$19</h1>
                  &nbsp;per Company per Month
              </div>
              <a id="subscribe-plan" 
                 target="_blank" href="https://store.risevision.com/product/{{plan.productId}}"
                 class="cta_button btn btn-primary u_margin-lg">Start 14-Day Trial</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="u_cursor_disabled panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">Advanced</h4>
              <p class="product-description">Ideal for organizations managing a small network of displays that want more scheduling options and priority support. Includes 9 Player Professional licences.</p>
              <div>
                  <h1>$85</h1>
                  &nbsp;per Company per Month
              </div>
              <a id="subscribe-plan"
                 target="_blank" href="https://store.risevision.com/product/{{plan.productId}}"
                 class="cta_button btn btn-primary u_margin-lg">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <div class="u_cursor_disabled panel panel-default">
          <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <div class="grid-list-text text-center">
              <h4 id="productName">Enterprise</h4>
              <p class="product-description">Perfect for large institutions and businesses with multiple sites, departments and users managing many displays. Includes 50 Player Professional licences.</p>
              <div>
                  <h1>$489</h1>
                  &nbsp;per Company per Month
              </div>
              <a id="subscribe-plan" 
                 target="_blank" href="https://store.risevision.com/product/{{plan.productId}}"
                 class="cta_button btn btn-primary u_margin-lg">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end Grid List -->

    <div class="text-center u_margin-md-top">
      <a class="btn btn-link btn-lg get-started-guide" target="_blank" href="https://www.risevision.com/pricing?utm_campaign=apps">Learn More About Our Plan Pricing</a>
      <span class="bold">OR</span>
      <a class="btn btn-link btn-lg get-started-guide" target="_blank" href="https://www.risevision.com/contact-us">Contact Sales If You Need Help</a>
    </div>

  </div> <!-- //Modal Body -->

  <div class="modal-footer"></div>
</div>