<div rv-spinner rv-spinner-key="plans-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="modalTitle" class="modal-title" translate>common-header.plans.choose-plan</h3>
  </div>

  <div id="plans-modal" class="modal-body u_padding-lg" stop-event="touchend">
    <div class="text-center">
      <div class="btn-group" role="group" aria-label="...">
        <button ng-click="monthlyPrices = true" type="button" class="btn btn-default" ng-class="{  active: monthlyPrices }">Monthly</button>
        <button ng-click="monthlyPrices = false" type="button" class="btn btn-default" ng-class="{  active: !monthlyPrices }">Yearly</button>
      </div>
      <p class="u_padding-sm-vertical">Pay yearly, get one month free!</p>
    </div>

    <div class="pricing-table">
      <div id="planHeader" class="monthly">
        <div class="planColumn" ng-class="{ currentPlan: currentPlanLabelVisible(plan) }" ng-repeat="plan in plans">
          <div id="current-plan" class="currentPlanLabel" ng-show="currentPlanLabelVisible(plan)" translate>
            common-header.plans.current
          </div>

          <h2>{{plan.name}}</h2>
          <h3 class="planColumnPrice" ng-show="!isFree(plan) && !isStarter(plan)">
            <span>$10</span>${{ monthlyPrices ? plan.monthly.priceDisplayMonth : plan.yearly.priceDisplayMonth }}
          </h3>
          <h3 class="planColumnPrice" ng-show="isStarter(plan)">
            ${{ monthlyPrices ? plan.monthly.priceDisplayMonth : plan.yearly.priceDisplayMonth }}
          </h3>
          <p ng-show="!isFree(plan) && monthlyPrices" class="text-muted" translate translate-values="{ price: plan.monthly.billAmount }">
            common-header.plans.perDisplayBilledMonthly
          </p>
          <p ng-show="!isFree(plan) && !monthlyPrices" class="text-muted" translate translate-values="{ price: plan.yearly.billAmount }">
            common-header.plans.perDisplayBilledYearly
          </p>
          <div ng-show="!isFree(plan)">
            <h3>{{plan.proLicenseCount}}</h3>
            <span ng-show="plan.proLicenseCount === 1" translate>common-header.plans.displayIncluded</span>
            <span ng-show="plan.proLicenseCount > 1" translate>common-header.plans.displaysIncluded</span>
          </div>
          <p ng-show="showSavings(plan)" class="planSavings" translate translate-values="{ save: (monthlyPrices ? plan.monthly.save : plan.yearly.save) }">
            common-header.plans.saveEachYear
          </p>
          <p ng-show="!isFree(plan) && isCurrentPlanSubscribed(plan)" translate>
            common-header.plans.needMoreDisplays
          </p>
          <a ng-show="!isFree(plan) && isCurrentPlanSubscribed(plan)" href="https://www.risevision.com/purchaseadditionaldisplaylicenses"
            target="_blank" translate>
              common-header.plans.individual-licenses
            </a>

          <!-- Trial remaining days -->
          <p id="trial-days-remaining" class="small u_margin-sm-bottom" ng-show="isCurrentPlan(plan) && isOnTrial(plan)" translate
            translate-values="{ count: currentPlan.trialPeriod }">common-header.plans.days-left-trial</p>
          <!-- Trial expired notice -->
          <p class="small u_margin-sm-bottom text-danger" ng-show="isCurrentPlan(plan) && isTrialExpired(plan)" translate>common-header.plans.trial-expired</p>

          <a id="subscribe-plan" ng-show="getVisibleAction(plan) === 'subscribe'" x class="btn btn-primary btn-block" translate>common-header.plans.subscribe</a>
          <a id="downgrade-plan" ng-show="getVisibleAction(plan) === 'downgrade'" target="_blank" href="https://www.risevision.com/downgradeplan"
            class="btn btn-default btn-block" translate>common-header.plans.downgrade</a>
          <a id="start-trial-plan" ng-show="getVisibleAction(plan) === 'start-trial'" target="_blank" ng-click="startTrial(plan)" class="btn btn-primary btn-block"
            translate>common-header.plans.start-trial</a>
        </div>
        <!--plan-column-->

      </div>
      <div id="planFeatures">
        <div class="planFeatureColumn" id="planFreeFeatures">
          <h4 id="planFeatures" class="planFeatureColumnTitle" style="column-span: all;">You can use the following features for free on any of your displays!</h4>
          <div class="planFeature">
            <p class="featureTitle">Text</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Image by URL</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Video by URL</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">RSS</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Time & Date</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">HTML</p>
          </div>
        </div>
        <div class="planFeatureColumn" id="planPaidFeatures">
          <h4 class="planFeatureColumnTitle" style="column-span: all;">Key Features Included With All Paid Plans <span class="u_padding-sm-vertical">Everything in 'Free' +</span></h4>
          <div class="planFeature">
            <p class="featureTitle">Image Slideshows</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Video Playlists</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Unlimited Image & Video File Storage</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Pre-made Templates</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Centralized Content Control</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Scheduling</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Calendar</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Spreadsheet</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Twitter</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Web Pages</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Google Reliability & Security</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Account / Sub-Account Hierarchy</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">User Role Permissioning</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Display Monitoring Notifications</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Content Shows Offline</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Alert Integration</p>
          </div>
          <div class="planFeature">
            <p class="featureTitle">Display On/Off Control</p>
          </div>
          <h4 class="text-center" style="column-span: all;"><a href="https://www.risevision.com/pricing" target="_blank">Learn More About Key Features</a></h4>
        </div>
      </div>
      <div id="planFooter"></div>
    </div>
    <div class="text-center u_padding-sm-vertical">
      <h3><a href="https://www.risevision.com/contact-us" target="_blank">Questions? We can help!</a></h3>
      <h3><a href="https://www.risevision.com/licensesubcompany" target="_blank">Need to license your Sub-Company?</a></h3>
    </div>
  </div>
  <!-- //Modal Body -->

<style>
  .progress-bar-step {
    cursor: pointer;
  }
  
  .progress-bar-step p {
    text-align: center;
    position: relative;
    top: -39px;
    margin: 0;
    font-size: 13px;
    color: #a2a2a2;
  }

  .progress-bar-step--active p {
    color: #4ab766;
  }

  .progress-bar-step--complete {
    background-color: #a4dbff !important;
  }

  .progress-bar-step--complete p {
    color: #a4dbff;
  }

  .progress-bar-step--complete p::before {
    content: "\f00c";
    margin-right: 4px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  .bordered-right {
    border-right: 1px solid #DDD;
    
  }
  @media (max-width: 768px) {
    .bordered-right {
      border-right: 0;
    }
		}
</style>
  <!-- //Checkout Start -->
  <div id="checkout-modal" class="modal-body u_padding-lg" stop-event="touchend">
    <!-- <div style="display:flex;">
      <div class="text-center" style="flex: 1; display: inline-block;">Subscriptions</div>
      <div class="text-center" style="flex: 1; display: inline-block;">Billing Address</div>
      <div class="text-center" style="flex: 1; display: inline-block;">Shipping Address</div>
      <div class="text-center" style="flex: 1; display: inline-block;">Payment Methods</div>
      <div class="text-center" style="flex: 1; display: inline-block;">Review Purchase</div>
    </div> -->

    <div class="app-launcher-wizard_progress-bar hidden-sm hidden-xs" style="padding-top: 32px;" >
      <div id="step-one" class="progress-bar-step progress-bar-step--active">
        <p>Subscriptions</p>
      </div>
      <div id="step-two" class="progress-bar-step">
          <p>Billing Address</p>
      </div>
      <div id="step-three" class="progress-bar-step">
          <p>Shipping Address</p>
      </div>
      <div id="step-four" class="progress-bar-step">
          <p>Payment Methods</p>
      </div>
      <div id="step-five" class="progress-bar-step">
          <p>Purchase Review</p>
      </div>
    </div>


    <div ng-include="'plans/checkout-subscriptions.html'"></div>
    <div ng-include="'plans/checkout-billing-address.html'"></div>
    <div ng-include="'plans/checkout-shipping-address.html'"></div>
    <div ng-include="'plans/checkout-payment-methods.html'"></div>
    <div ng-include="'plans/checkout-review-purchase.html'"></div>
  </div>
  <!-- //Checkout End -->

<div class="modal-footer">
  
</div>

<script>
  //SETUP
  $(document).ready(function () {
    $(".prototype-show").hide();
    $(".prototype-show-ready").show();

    //SPINNER doesnt work
    (function ($) {
      $('.spinner .btn:first-of-type').on('click', function () {
        $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
      });
      $('.spinner .btn:last-of-type').on('click', function () {
        $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
      });
    })(jQuery);
  });

  //CYCLE
  $(document).on("click", "#step-one", function () {
    $(".prototype-show").hide();
    $("#content-one").show();
  });
  $(document).on("click", "#step-two", function () {
    $(".prototype-show").hide();
    $("#content-two").show();
  });
  $(document).on("click", "#step-three", function () {
    $(".prototype-show").hide();
    $("#content-three").show();
  });
  $(document).on("click", "#step-four", function () {
    $(".prototype-show").hide();
    $("#content-four").show();
  });
  $(document).on("click", "#step-five", function () {
    $(".prototype-show").hide();
    $("#content-five").show();
  });

  // STEP THROUGH CHECKOUT NAV 
  $(document).on("click", ".progress-bar-step", function () {
    var target = $(this);
    $(".progress-bar-step").removeClass("progress-bar-step--active");
    $(this).removeClass("progress-bar-step--complete");
    $(this).addClass("progress-bar-step--active");
    $(this).prevAll().addClass("progress-bar-step--complete");
  });

  $('input:radio[name="optionsRadios"]').change(
    function(){
        if ($(this).is(':checked')) {
          $(this).parent(".radio").css( "background", "aliceblue" );
        }
        else {
          $(this).parent(".radio").css( "background", "white" );
        }
    });

  //CONTROL MODAL
  $(document).on("click", "#subscribe-plan", function () {
    $("#plans-modal").hide();
    $("#checkout-modal").show();

    $("h3#modalTitle").text("Checkout");

    $(".modal-dialog").removeClass("modal-lg");
    $(".modal-dialog").addClass("modal-md");
  });
</script>
