<!-- PROTOTYPE SCRIPT -->
<script>
        //SETUP
        $(document).ready(function () {
          $(".prototype-show").hide();
          $(".prototype-show-ready").show();
        });
    
        //INCREMENT SPINNER
        $(document).on("click", ".spinner .btn:first-of-type", function () {
          $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
        });
        $(document).on("click", ".spinner .btn:last-of-type", function () {
          $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
        });
    
    
        //CYCLE STEPS
        $(document).on("click", "#step-one", function () {
          $(".prototype-show").hide();
          $("#content-one").show();
        });
        $(document).on("click", "#step-two", function () {
          $(".prototype-show").hide();
          $("#content-two").show();
        });
        $(document).on("click", "#step-three", function () {
          $(".prototype-show").hide();
          $("#content-three").show();
        });
        $(document).on("click", "#step-four", function () {
          $(".prototype-show").hide();
          $("#content-four").show();
          $("#security-branding").show();
        });
        $(document).on("click", "#step-five", function () {
          $(".prototype-show").hide();
          $("#content-five").show();
          $("#security-branding").show();
        });
    
        // STEP THROUGH CHECKOUT NAV 
        $(document).on("click", ".indicator", function () {
          var target = $(this);
          $(".indicator").removeClass("active");
          $(this).removeClass("complete");
          $(this).siblings().removeClass("complete");
          $(this).addClass("active");
          $(this).prevAll().addClass("complete");
        });
    
        // HIGHLIGHT PAYMENT CYCLE
        $(document).on('change', 'input[type=radio][name=optionsRadios]', function () {
          if (this.value == 'option1') {
            $(".radio").css("background", "white");
            $("#optionsRadios1").closest(".radio").css("background", "aliceblue");
          } else if (this.value == 'option2') {
            $(".radio").css("background", "white");
            $("#optionsRadios2").closest(".radio").css("background", "aliceblue");
          }
        });
    
        //PAYMENT METHOD DROPDOWN
        $(document).on('change', '#paymentMethodSelector', function () {
          $("#existingCardCC").hide();
          $("#firstTimeCC").show();
        });
    
        //CONTROL MODAL
        $(document).on("click", "#subscribe-plan", function () {
          $("#plans-modal").hide();
          $("#checkout-modal").show();
    
          $("h3#modalTitle").text("Checkout");
    
          $(".modal-dialog").removeClass("modal-lg");
          $(".modal-dialog").addClass("modal-md");
        });
    
        //HIDE CC ADDRESS
        $(document).on("click", "#toggleMatchBillingAddress", function () {
          this.checked ? $('#targetCCAddress').hide(400) : $('#targetCCAddress').show(400);
        });
    
        //SHOW ERROR STATE 
        $(document).on("click", "#reveal-billing-error", function () {
          $(".prototype-show").hide();
          $("#prototypeProgressIndicator").hide();
          $("#content-two-error").show();
        });
    
        //CLEAR ERROR STATE 
        $(document).on("click", "#hide-billing-error", function () {
          $(".prototype-show").hide();
          $("#content-two").show();
          $("#prototypeProgressIndicator").show();
        });
    
        //SHOW TAX EXEMPTION
        $(document).on("click", "#showTaxExempt", function () {
          $(".prototype-show").hide();
          $("#tax-exemption-form").show();
        });
    
        // LOAD SUCCESS SCREEN
        function showSuccess() {
          $(".prototype-show").hide();
          $("#protoSpinner").hide();
          $("#content-success").show();
          $("#security-branding").hide();
          $(".indicator").removeClass("active"); //NEEDED?
          $(".indicator").addClass("complete");
        }
    
        //TIMER LOADING BUTTON
        // $(document).on("click", "#payButton", function () {
        //   $("#payLabel").hide();
        //   $("#loadSpinner").show();
        //   setTimeout(function () {
        //     showSuccess();
        //   }, 5000);
        // });
    
        //TEMPORARY SPINNER AND THEN SHOW SUCCESS
        $(document).on("click", "#payButton", function () {
          $("#protoSpinner").show();
          setTimeout(function () {
            showSuccess();
          }, 5000);
        });
      </script>