<!-- Step 4 -->
<div id="checkout-payment-methods">
  <form id="form.paymentDetailsForm" role="form" class="u_margin-md-top" name="form.paymentDetailsForm" novalidate>
    <div class="row u_margin-md-top">
      <div class="col-md-8 col-xs-12 form-inline">
        <div class="form-group">
          <label for="payment-method-select" class="u_margin-right">Payment Method</label>
          <select id="payment-method-select" class="form-control selectpicker" ng-model="plan.paymentDetails.paymentMethod">
            <option value="card">Credit Card</option>
            <option value="invoice">Invoice Me</option>
          </select>
        </div>
      </div>
    </div>
    <hr/>

    <div id="credit-card-form" ng-show="plan.paymentDetails.paymentMethod === 'card'">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select id="credit-card-select" class="form-control selectpicker" ng-model="plan.paymentDetails.selectedCard" ng-options="c as getCardDescription(c) for c in plan.paymentDetails.existingCreditCards track by c.id">
              <option value="">Add New Credit Card</option>
            </select>
          </div>
        </div>
      </div>

      <!-- FIRST TIME CREDIT CARD -->
      <div id="new-credit-card-form" ng-show="!plan.paymentDetails.selectedCard">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="new-card-name" lass="control-label">Cardholder Name</label>
              <input id="new-card-name" type="text" class="form-control" name="card-name" data-stripe="name" ng-model="plan.paymentDetails.newCreditCard.name" autocomplete="cc-name" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="new-card-number" class="control-label">Card Number</label>
              <input id="new-card-number" type="text" class="form-control" placeholder="0000 0000 0000 0000" name="card-number"  data-stripe="number" ng-model="plan.paymentDetails.newCreditCard.number" autocomplete="cc-number" required>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4">
            <label for="new-card-expiry-month" class="control-label">Expiry Month</label>
            <select id="new-card-expiry-month" data-stripe="exp-month" class="form-control" ng-model="plan.paymentDetails.newCreditCard.expMonth" autocomplete="cc-exp-month" integer-parser required>
              <option ng-show="false" value="">&lt; Select Month &gt;</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="expiry-year" class="control-label">Expiry Year</label>
            <year-selector id="new-card-expiry-year" data-stripe="exp-year" class="form-control" ng-model="plan.paymentDetails.newCreditCard.expYear" autocomplete="cc-exp-month" integer-parser required>
            </year-selector>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="new-card-cvc" class="control-label">Security Code</label>
              <input id="new-card-cvc" type="text" class="form-control" name="cvc" data-stripe="cvc" size="4" ng-model="plan.paymentDetails.newCreditCard.cvc" autocomplete="cc-csc" required>
            </div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" id="toggleMatchBillingAddress" checked>
            Same As Billing Address
          </label>
        </div>

        <!-- CUSTOM CC ADDRESS -->
        <div id="targetCCAddress">

          <address-form form-object="form.paymentDetailsForm" address-object="plan.paymentDetails.cardAddress" hide-company-name="true"></address-form>

        </div>
        <!--  END CUSTOM CC ADDRESS -->
      </div>
      <!-- END FIRST TIME CC -->

      <!-- EXISTING CREDIT CARD -->
      <div id="existing-credit-card-form" ng-show="plan.paymentDetails.selectedCard">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="existing-card-name" class="control-label">Cardholder Name</label>
              <input id="existing-card-name" type="text" class="form-control" placeholder="{{plan.paymentDetails.selectedCard.name}}" disabled="disabled">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="existing-card-number" class="control-label">Card Number</label>
              <input id="existing-card-number" type="text" class="form-control" placeholder="{{'***-' + plan.paymentDetails.selectedCard.last4}}" disabled="disabled" />
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4">
            <div class="form-group">
              <label for="existing-card-expiry-month" class="control-label">Expiry Month</label>
              <input id="existing-card-expiry-month" type="text" class="form-control masked"  placeholder="{{getPaddedMonth(plan.paymentDetails.selectedCard.expMonth)}}" disabled="disabled" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="existing-card-expiry-year" class="control-label">Expiry Year</label>
              <input id="existing-card-expiry-year" type="text" class="form-control masked"  placeholder="{{plan.paymentDetails.selectedCard.expYear}}" disabled="disabled" />
            </div>
          </div>          
        </div>
      </div>
      <!-- END EXISTING CC -->
    </div>

    <!-- //GENERATE INVOICE FORM -->
    <div id="generateInvoice" ng-show="plan.paymentDetails.paymentMethod === 'invoice'">
      <p>If you'd like to be invoiced for your purchase (rather than paying now by credit card), please enter a <b>Purchase Order</b> number
        and continue with checkout.</p>
      <p>You will receive an invoice for this purchase total at <b>user@domain.com</b>. Invoices are due within 30 days of creation, payable by check, wire transfer, or credit card.</p>
      <p>Please note your invoice is generated only once this checkout is completed.</p>

      <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group"><label class="control-label" id="triggerOverdue"> Purchase Order Number </label>
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
      </div>

      <div id="generateInvoiceOverdue" style="display:none">
          <p class="text-danger">You have overdue invoice payments on your account.</p>
          <p>In order to complete this purchase by invoice, please pay your outstanding invoices <a href="#">here</a>.</p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default btn-lg pull-left" ng-click="setPreviousStep()" translate>common.back</button>
        <button id="continueButton" type="submit" form="form.paymentDetailsForm" class="btn btn-primary btn-lg pull-right" ng-click="setNextStep()" translate>common.continue</button>
      </div>
    </div>
  </form>

</div>
