<!-- Step 2 -->
<div id="checkout-billing-address" class="address-editor">
  <form id="form.billingAddressForm" role="form" class="u_margin-md-top" name="form.billingAddressForm" autocomplete="on" novalidate>
    <div class="alert alert-danger" ng-show="form.billingAddressForm.$submitted && form.billingAddressForm.$invalid">
      Please complete the missing information below.
    </div>
    <div id="errorBox" class="alert alert-danger" role="alert" ng-show="plan.billingAddress.validationError">
      <strong>Address Validation Error</strong> {{plan.billingAddress.validationError}}
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('firstName') }">
          <label for="contact-firstName" class="control-label">First Name</label>
          <input id="contact-firstName" type="text" class="form-control" name="firstName" ng-model="plan.contact.firstName" autocomplete="given-name" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('lastName') }">
          <label for="contact-lastName" class="control-label">Last Name</label>
          <input id="contact-lastName" type="text" class="form-control" name="lastName" ng-model="plan.contact.lastName" autocomplete="family-name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('email') }">
          <label for="contact-email" class="control-label">Email</label>
          <input id="contact-email" type="email" class="form-control" name="email" ng-model="plan.contact.email" autocomplete="email" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': isFieldInvalid('tel') }">
          <label for="contact-phone" class="control-label">Telephone</label>
          <input id="contact-phone" name="tel" type="tel" class="form-control" ng-model="plan.contact.telephone" autocomplete="tel">
        </div>
      </div>
    </div>

    <address-form form-object="form.billingAddressForm" address-object="plan.billingAddress"></address-form>

    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default btn-lg pull-left" ng-click="setPreviousStep()" translate>common.back</button>
        <button id="continueButton" type="submit" form="form.billingAddressForm" class="btn btn-primary btn-lg pull-right" ng-click="validateAddress(plan.billingAddress)" translate>common.continue</button>
      </div>
    </div>
  </form>
</div>
