<div id="content-five" class="prototype-show" style="display: none; ">
  <div class="row">
    <div class="col-md-6 u_margin-sm-top">
      <p class="lead u_margin-sm-bottom ">Company Account
      </p>
      <small>
        <b>Acme Co Inc.</b>
        <br> Email: user@domain.com
        <br> Company ID: ce4684a1-e8b3-4e02-9798-c4517b43cf7a
      </small>
    </div>
    <div class="col-md-6 u_margin-sm-top">
      <p class="lead u_margin-sm-bottom ">Payment Method
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <small>
        <b>VISA</b>
        <br> 4242-0000-4242-0000
        <br> Exp: 07/18
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 u_margin-sm-top">
      <p class="lead u_margin-sm-bottom ">Billing Address
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <small>
        Gob Bluth<br> user@risevision.com
        <br> Rise Vision Inc.<br> 545 King Street West<br> Toronto, ON, M5V 1M1<br> Canada
      </small>
    </div>
    <div class="col-md-6 u_margin-sm-top">
      <p class="lead u_margin-sm-bottom ">Shipping Address
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
      <small>
        Rise Vision Inc.<br> 545 King Street West<br> Toronto, ON, M5V 1M1<br> Canada
      </small>
    </div>
  </div>
  <br/>
  <hr class="u_margin-xs-top u_margin-xs-bottom">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead u_margin-sm-bottom ">Subscription Details
        <button class="btn btn-link btn-xs">Edit</button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-6 text-right">
      <p><small>Basic Plan (Yearly)<br/> 2 Additional Displays<br/> GST
        <br/> PST
        <br/> Total Tax:</small></p>
      <span class="order-total">Order Total:</span>
    </div>
    <div class="col-sm-4 col-xs-6 text-right">
      <p><small>$85<br/> $19
        <br/> $1.70
        <br/> $2.20
        <br/> $4.70
      </small></p>
      <span class="order-total">$122.34 <small class="u_margin-left text-subtle">CAD</small></span>
    </div>
    <div class="col-sm-4 col-xs-12 text-right">
      <button id="showTaxExempt" class="btn btn-link btn-xs">Submit Tax Exemption</button>
    </div>
  </div>
  <div class="row">
    <hr class="u_margin-sm-top">
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <button id="payButton" class="btn btn-primary btn-hg btn-block">
        <span id="payLabel">Pay $122.34 Now </span>
        <!-- <i id="loadSpinner" class="fa fa-spinner fa-spin fa-fw fa-inverse u_padding-lg-horizontal" style="display:none" ></i> -->
      </button> <br/>
  </div>
</div>