<!-- Step 3 -->
<div id="checkout-shipping-address" class="address-editor">
  <form id="form.shippingAddressForm" role="form" class="u_margin-md-top" name="form.shippingAddressForm" autocomplete="on" novalidate>
    <div class="alert alert-danger" ng-show="form.shippingAddressForm.$submitted && form.shippingAddressForm.$invalid">
      Please complete the missing information below.
    </div>
    <div id="errorBox" class="alert alert-danger" role="alert" ng-show="plan.shippingAddress.validationError">
      <strong>Address Validation Error</strong> {{plan.shippingAddress.validationError}}
    </div>

    <!-- <div class="checkbox">
      <label><input type="checkbox">Same as Billing Address</label>
    </div> -->

    <address-form form-object="form.shippingAddressForm" address-object="plan.shippingAddress"></address-form>

    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default btn-lg pull-left" ng-click="setPreviousStep()" translate>common.back</button>
        <button id="continueButton" type="submit" form="form.shippingAddressForm" class="btn btn-primary btn-lg pull-right" ng-click="validateAddress(plan.shippingAddress)" translate>common.continue</button>
      </div>
    </div>
  </form>
</div>
