<!-- Step 2 -->
<div id="checkout-billing-address">
  <form id="billingAddressForm" role="form" class="u_margin-md-top" name="form.billingAddressForm" autocomplete="on" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-firstName" class="control-label">First Name</label>
          <input id="billing-address-firstName" type="text" class="form-control" name="fname" ng-model="plan.contact.firstName" autocomplete="given-name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-lastName" class="control-label">Last Name</label>
          <input id="billing-address-lastName" type="text" class="form-control" name="lname" ng-model="plan.contact.lastName" autocomplete="family-name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-email" class="control-label">Email</label>
          <input id="billing-address-email" type="email" class="form-control" name="email" ng-model="plan.contact.email" autocomplete="email">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-phone" class="control-label">Telephone</label>
          <input id="billing-address-phone" name="tel" type="tel" class="form-control" ng-model="plan.contact.telephone" placeholder="000 000 0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" autocomplete="tel">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="billing-address-companyName" class="control-label">Company Name</label>
      <input id="billing-address-companyName" name="company" type="text" class="form-control" ng-model="plan.billingAddress.name" autocomplete="org">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-streetAddress" class="control-label">Street Address</label>
          <input id="billing-address-streetAddress" name="address" type="text" class="form-control" ng-model="plan.billingAddress.street" autocomplete="street-address">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-unit" class="control-label">Unit</label>
          <input id="billing-address-unit" type="text" name="address" class="form-control" ng-model="plan.billingAddress.unit" autocomplete="address-line2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-city" class="control-label">City</label>
          <input id="billing-address-city" name="city" type="text" class="form-control" ng-model="plan.billingAddress.city" autocomplete="city">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-country" class="control-label">Country</label>
          <select id="billing-address-country" name="country" autocomplete="country" class="form-control"
            ng-model="plan.billingAddress.country" ng-options="c.code as c.name for c in countries" empty-select-parser>
            <option ng-show="false" value="">&lt; Select Country &gt;</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-region" class="control-label">State/Province/Region</label>

          <input type="text" class="form-control" ng-model="plan.billingAddress.province" autcomplete="province" ng-hide="plan.billingAddress.country === 'US' || plan.billingAddress.country === 'CA'" />
          <select class="form-control selectpicker" ng-model="plan.billingAddress.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="plan.billingAddress.country === 'CA'" empty-select-parser>
            <option ng-show="false" value="">&lt; Select Province &gt;</option>
          </select>
          <select class="form-control selectpicker" ng-model="plan.billingAddress.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="plan.billingAddress.country === 'US'" empty-select-parser>
            <option ng-show="false" value="">&lt; Select State &gt;</option>
          </select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="billing-address-zip" class="control-label">ZIP/Postal Code</label>
          <input id="billing-address-zip" name="zip" type="text" class="form-control" ng-model="plan.billingAddress.postalCode" autocomplete="postal-code">
        </div>
      </div>
    </div>
  </form>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-default btn-lg pull-left" ng-click="setPreviousStep()" ng-disabled="form.billingAddressForm.$invalid" translate>common.back</button>
      <button id="continueButton" type="submit" class="btn btn-primary btn-lg pull-right" ng-click="setNextStep()" ng-disabled="form.billingAddressForm.$invalid" translate>common.continue</button>
    </div>
  </div>
</div>
