<!-- PROTOTYPE SCRIPT -->
<script>
        //SETUP
        $(document).ready(function () {
          $(".prototype-show").hide();
          $(".prototype-show-ready").show();
        });
    
        //PAYMENT METHOD DROPDOWN
        $(document).on('change', '#paymentMethodSelector', function () {
          $("#existingCardCC").hide();
          $("#firstTimeCC").show();
        });
    
        //HIDE CC ADDRESS
        $(document).on("click", "#toggleMatchBillingAddress", function () {
          this.checked ? $('#targetCCAddress').hide(400) : $('#targetCCAddress').show(400);
        });
    
        //SHOW ERROR STATE 
        $(document).on("click", "#reveal-billing-error", function () {
          $("#checkout-billing-address").hide();
          $("#prototypeProgressIndicator").hide();
          $("#content-two-error").show();
        });
    
        //CLEAR ERROR STATE 
        $(document).on("click", "#hide-billing-error", function () {
          $(".prototype-show").hide();
          $("#checkout-billing-address").show();
          $("#prototypeProgressIndicator").show();
        });
    
        //SHOW TAX EXEMPTION
        $(document).on("click", "#showTaxExempt", function () {
          $("#checkout-review-purchase").hide();
          $("#tax-exemption-form").show();
        });
    
        //Hide TAX EXEMPTION
        $(document).on("click", "#submit-tax-exemption", function () {
          $("#checkout-review-purchase").show();
          $("#tax-exemption-form").hide();
        });

        // LOAD SUCCESS SCREEN
        function showSuccess() {
          $("#checkout-review-purchase").hide();
          $("#protoSpinner").hide();
          $("#content-success").show();
          $("#security-branding").hide();
          $(".indicator").removeClass("active"); //NEEDED?
          $(".indicator").addClass("complete");
        }
    
        //TIMER LOADING BUTTON
        // $(document).on("click", "#payButton", function () {
        //   $("#payLabel").hide();
        //   $("#loadSpinner").show();
        //   setTimeout(function () {
        //     showSuccess();
        //   }, 5000);
        // });
    
        //TEMPORARY SPINNER AND THEN SHOW SUCCESS
        $(document).on("click", "#payButton", function () {
          $("#protoSpinner").show();
          setTimeout(function () {
            showSuccess();
          }, 5000);
        });
      </script>
