<div rv-spinner rv-spinner-key="purchase-modal" rv-spinner-start-active="0">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>Checkout</h3>
  </div>

  <div id="purchase-modal" class="modal-body checkout-modal" stop-event="touchend">

    <div id="prototypeProgressIndicator" class="progress-indicator">
      <div ng-repeat-start="step in PURCHASE_STEPS" class="indicator active" id="step-{{step.count}}">
        <div class="tag">{{step.name}}</div>
      </div>
      <div ng-repeat-end class="progress-bar-container">
        <div class="progress-bar"></div>
      </div>
    </div>

    <div ng-include="'purchase-flow/checkout-subscriptions.html'"></div>
    <div ng-include="'purchase-flow/checkout-billing-address.html'"></div>
    <div ng-include="'purchase-flow/checkout-billing-address-error.html'"></div>
    <div ng-include="'purchase-flow/checkout-shipping-address.html'"></div>
    <div ng-include="'purchase-flow/checkout-payment-methods.html'"></div>
    <div ng-include="'purchase-flow/checkout-review-purchase.html'"></div>
    <div ng-include="'purchase-flow/checkout-success.html'"></div>
    <div ng-include="'purchase-flow/tax-exemption.html'"></div>

  </div> <!-- //Modal Body -->

  <div ng-include="'purchase-flow/prototype-code.html'"></div>

  <div id="security-branding" class="modal-small-footer text-center u_padding-xs">
    <small class="text-subtle">
      <i class="fa fa-lock icon-left"></i>
      Secure Checkout from <img src="https://s3.amazonaws.com/Rise-Images/UI/chargebee-icon.svg"> 
      Chargebee and <img alt="powered by Stripe" src="https://s3.amazonaws.com/Rise-Images/UI/powered_by_stripe.svg">
    </small>
  </div>

</div>
